*{
    margin:0;     /* removing default browser style*/
    padding:0;
    box-sizing:border-box; /* to box model*/
}
/* global*/
body{
  font-family:"Merriweather",sans-serif;     /*we are providing alternative font sans serif. if merri weather doesntexist sans serif is used*/
  background-color: #ebf2ff;
  margin: 10px;
}

.button__primary{
    background-image: linear-gradient(
        to right,
     #ff512f 0%, #dd2476 51%,#ff512f 100%
    );
    padding:12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    color: #fff;
    font-weight: 500;
}

.container{
    width:100%;
    
    margin: 0 auto;
    overflow-x:hidden;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 5px;
    width:100%;
    position:sticky;
    background-color: #f9fafc;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
     
}
.navbar__brand{
    width:100px;
}
.navbar__logo{
    width:100%;
}
.hero__container{
    width: 100%;
    
}

.hero__text{
    font-size: 30px;
    font-weight: 800;
    margin-top: auto;
    margin-bottom: 20px;
    color:#1d3557;
}


.hero__image__container{
    display: flex;
    align-items:center;
    
    position:relative;
   width:100%;
   
   
}

.hero__image{
    position: absolute;
    border-radius: 6px;
    width:100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0.2);

}
.hero__image__shape{
    align-items: flex-end;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.hero__image__pattern{
    align-items: flex-start;
    position: absolute;
    width: 100%;
    z-index: -3;
}
.video__footage__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:100%;
    gap:25px;
    padding:10px;
}
.video__footage__text {
    margin-top: 1rem;
    color: #1d3557;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}
.video__footage{
    position: relative;
    margin-top:3rem;
    margin-bottom: 10px;
}


.video__footage::before{
    position: absolute;
    content:"";
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-image:linear-gradient( 
    to right,
    #ff512f 0%, #dd2476 51%,#ff512f 100%);
    transform: translate(1rem,1rem);
    z-index: -1;
}
p{
    display:block;
    margin-left: 5em;
    margin-right: 5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* menu Styles*/
.explore__menu__container{
    position: relative;
    margin-top: 50px;
    width: 100%;
}

.explore__menu__text{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    color:#1d3557;
    text-align: center;
}
.food__menu__card{
    
   width:100%;
   background-color: #fff;
   border-radius: 8px;
   margin-bottom: 15px;
   
}
.food__image{
    width:100%;
    border-radius: 8px 8px 0 0;  /*top-left  top-right bottom-left  bottm-right */
}

.food__menu__card__description{
    padding:20px;
}
.explore__menu__view__more{

    display: flex;
    justify-content: center;
}



/* grid or flex*/

.restaurants__description{
    font-size: 25px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 5px;
    color:#1d3557;

}
.restaurants__flex__row__one,
.restaurants__flex__row__two{
    width:100%;
    display:flex;
    gap:4px;
}
.restaurants__flex__row__one{
    align-items: baseline;
    margin-bottom: 6px;
}
.restaurant__1__image,
.restaurant__2__image,
.restaurant__3__image,
.restaurant__4__image{
    width:100%;
    height:100%;
    border-radius: 7px;
}
.restaurant__1,
.restaurant__4{
  width:100%;
  height:100px;
}
.restaurant__2,
.restaurant__3{
    width:120%;
    height: 150px;
}

/* form */
.informationcontainer{
    padding:20px;
}
.information__title{
    font-size: 25px;
    font-weight: 800;
    margin-top:80px;
    margin-bottom: 10px;
    color:#1d3557;
    padding-left: 20px;
    
}
.information{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width:100%;
    gap:10px;
} 
#email{
    height:35px;
    width:100%;
    border-radius: 5px;
    background-color: mistyrose;
    font-weight: bold;
    border:2px solid lightpink;
}
:placeholder-shown{
    opacity: 0.6;
}

.information__button__primary{
    background-image: linear-gradient(
        to right,
     #ff512f 0%, #dd2476 51%,#ff512f 100%
    );
    padding:10px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    color: #fff;
    font-weight: 500;
}

/* quote */
.quote__container{
    position: relative;
    display: flex;
     margin-top: 80px;
     text-align: center;
     align-items: center;
     color: #fff;
     z-index: 5;
     height:200px;
     width:100%;
     border-radius: 13px;
     background-image:url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80");
     background-repeat: no-repeat;
     background-position:center center ;
    
}
.quote_image_overlay{
    position: absolute;
    
    
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height:200px;
    width:100%;
    z-index: -1;
    border-radius: 13px;
   box-shadow:0 0 3rem(0, 0, 0.9);
   background-color: rgba(3, 45, 73, 0.5);
   
}
.quote_image_text{
    font-weight: 600;
}

/* footer*/
footer{
    display: block;
    background-image: linear-gradient(
        to right,
     #ff512f 0%, #dd2476 51%,#ff512f 100%
    );
    color:#fff;
    margin:70px 0;
    border-radius: 13px 13px 0 0;
    margin-bottom: 0%;
    
   height:fit-content;
    
   

}
footer>img{
    width:300px;
    padding-left: 30px;
    filter: brightness(0) invert(1);
}

ul{
   list-style-type: none;
   display: block;
   
   gap:3px;
   font-size: 3px;
   padding-left: 100px;
   font-size: 18px;
   

}


@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding:0 15px; /* top-bottom  left-right*/
    }
    
.navbar__brand{
    width:150px;
}

.button__primary {  
    padding:8px 25px;
    font-size: 20px;
}
.hero__container{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    gap:10px;

}
.video__footage__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:50px;
    
}
.video__footage::before{
    position: absolute;
    width:100%;

}


.explore__menu__container{
    position:relative;
    height:100%;
    width:100%;
} 


.explore__menu__gradient__bg{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-image:linear-gradient( 
    to right,
    #ff512f 0%, #dd2476 51%,#ff512f 100%);
    z-index: -3;

  /*  to get at an angle*/
  transform:skewY(-5deg);
} 
.explore__menu__lists{
    display:flex;
    gap:8px;
    margin-top: 50px;
    padding:0 10px;
}

#pizza__card{
    margin-top: -20px;
    margin-bottom: 30px;
}

.restaurants__description{
   font-size: 30px;
   width: 100%;
}

.restaurants__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.restaurants__flex{
    width:100%;
   
}
.information__title{
    font-size: 30px;
 padding-left: 150px;
}

.information{
    display: flex;
    padding:0 60px;
    justify-content: center;
    text-align: center;
}

#email{
    width:50%;

}
.quote__container{
    font-size: 28px;
    height: 300px;
    width:100%;
    background-size:cover ;
}

.quote_image_overlay{
    height:300px;
    
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul{
   
    padding-top: 20px;
}
}

@media (min-width:1020px){
    .container{
        max-width: 900px;
    }
    .hero__container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .explore__menu__lists{
        display: flex;
        gap:20px;
        padding:0 30px;
    }

    .restaurants__container{
        margin-top: 30px;
    }

    .information__title{
        padding-left:180px;
    }
    .information{
       padding:0 180px;
        width:100%;


    }
    .information__button__primary{
      width:50%;
      height:45px;
      font-size: 18px;
    }
    

    #email{
        width:100%;
        height:40px;
    }

    
.quote__container{
    font-size: 28px;
    margin: 100px 0;
    background-position:center center ;
    background-size: cover;
}

.quote_image_overlay{
    height:300px;

}
.quote_image_text{
    font-weight: 500;
}


footer{
    margin-top:-50px;
  min-height: 220px;
}
}
@media (min-width:1400px){
    .container{
        max-width:1300px;
        
    }
    .navbar{
        justify-content: space-between;
        padding:0px 30px;
    }
    .hero__container{
        padding:0 80px;
    }
    .hero__text{
        font-size: 50px;
        line-height: 3rem;
        
    }
    .button__primary{
        padding:15px 30px;
    }
    .video__footage__container{
        flex-direction: column;
        gap:18px;

    }
    
    p{
        display: block;
        font-size: 20px;
        margin-left: 15em;
        margin-right: 12em;
    }
   .explore__menu__container{
       padding: 10px 10px;
   }
    .explore__menu__gradient__bg{
        margin-left: 20px;
        margin-right: 20px;
    }

  .explore__menu__text{
        font-size: 50px;
    }

 .food__restaurants{  
        margin-inline-start: 0;
        margin-inline-end: 0;
    
    }
    

.restaurants__container{
        margin:30px;
        justify-content: space-around;
        
    }
.restaurants__description{
        font-size: 45px;
    }
    
.restaurant__1,
.restaurant__4{
  width:100%;
  height:200px;
}
.restaurant__2,
.restaurant__3{
    width:120%;
    height: 250px;
}

.restaurants__flex__row__one,
.restaurants__flex__row__two{
    gap:6px;
}

.information__title{
    padding-left: 300px;
    font-size: 40px;
}

.information{
    padding:0 200px;
     width:100%;

}
.information__button__primary{
    width:20%;
    height:50px;
    font-size: 18px;
  }
  

  #email{
      width:50%;
      height:45px;
      font-size: 20px;
  }


    
.quote__container{
   margin:0 50px;
    font-size: 35px;
    margin: 100px 0;
    height:325px;
    


}

.quote_image_overlay{
    height:325px;
  
  
}

ul{
    font-size: 20px;
}

}

