*{
    margin:0;     /* removing default browser style*/
    padding:0;
    box-sizing:border-box; /* to box model*/
}
/* global*/
body{
  font-family:"Merriweather",sans-serif;     /*we are providing alternative font sans serif. if merri weather doesntexist sans serif is used*/
  background-color: #ebf2ff;
  overflow-x:hidden;
}

.button__primary{
    background-image: linear-gradient(

            rgb(255, 73, 1), #f10e6d
    );
    padding:12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    color: #fff;
}

.container{
    width:100%;
    margin:0 auto;
    padding:0 15px;
}
.navbar{
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.navbar__brand{
    width:100px;
}
.navbar__logo{
    width:100%;
}
.hero__container{
    width: 100%;
}

.hero__text{
    font-size: 30px;
    margin: 20px 0;
    color:#1d3557;
}


.hero__image__container{
    display: flex;
    align-items: center;
    position:relative;
   width:100%;
}

.hero__image{
    position: absolute;
    width:100%;
}
.hero__image__shape{
    position: absolute;
    width: 100%;
    z-index: -6;
}

.hero__image__pattern{
    position: absolute;
    width: 100%;
    z-index: -3;
}
@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding:10px 20px; /* top-bottom  left-right*/
    }
    
.navbar__brand{
    width:150px;
}

.button__primary {  
    padding:12px 25px;
    font-size: 20px;
}
.hero__container{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    gap:10px;
    padding: 50px;
}

}
@media (min-width:1020px){
    .container{
        max-width: 1000px;
    }
    .hero__text{
       font-size: 50px;
    }
   
        
}
@media (min-width:1400px){
    .container{
        max-width:1250px;
    }

}

