*{
    margin:0;     /* removing default browser style*/
    padding:0;
    box-sizing:border-box; /* to box model*/
}
/* global*/
body{
  font-family:"Merriweather",sans-serif;     /*we are providing alternative font sans serif. if merri weather doesntexist sans serif is used*/
  background-color: #ebf2ff;
  overflow-x:hidden;
}

.button__primary{
    background-image: linear-gradient(
        to right,
     #ff512f 0%, #dd2476 51%,#ff512f 100%
    );
    padding:12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    color: #fff;
}

.container{
    width:100%;
    margin:0 auto;
    padding:0 12px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.navbar__brand{
    width:100px;
}
.navbar__logo{
    width:100%;
}
.hero__container{
    width: 100%;
}

.hero__text{
    font-size: 30px;
    margin-bottom: 20px 0;
    color:#1d3557;
}


.hero__image__container{
    display: flex;
    align-items:center;
    
    position:relative;
   width:100%;
}

.hero__image{
    position: absolute;
    border-radius: 6px;
    width:100%;
}
.hero__image__shape{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.hero__image__pattern{
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.video__footage__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:100%;
    gap:25px;
    padding:10px;
}/*
.video__footage__text{
    font-size: 18px;
    color:#1d3557;
    
}*/
.video__footage__text {
    margin-top: 1rem;
    color: #1d3557;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}
.video__footage{
    position: relative;
    margin-top:3rem;
    margin-bottom: 10px;
}


.video__footage::before{
    position: absolute;
    content:"";
    top:0;
    left: 0%;
    height: 100%;
    width:100%;
    background-image:linear-gradient( 
    to right,
    #ff512f 0%, #dd2476 51%,#ff512f 100%);
    transform: translate(1rem,1rem);
    z-index: -1;
}
p{
    display:block;
    margin-left: 5em;
    margin-right: 5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* menu Styles*/
.explore__menu__container{
    margin-top: 50px;
}
.explore__menu__text{
    font-size: 30px;
    margin-bottom: 20px 0;
    color:#1d3557;
    text-align: center;
}
.food__menu__card{
   width:100%;
   background-color: #fff;
   border-radius: 8px;
   margin-bottom: 15px;
}
.food__image{
    width:100%;
    border-radius: 8px 8px 0 0;  /*top-left  top-right bottom-left  bottm-right */
}

.food__menu__card__description{
    padding:20px;
}
.explore__menu__view__more{
    display: flex;
    justify-content: center;
}
@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding:10px 15px; /* top-bottom  left-right*/
    }
    
.navbar__brand{
    width:150px;
}

.button__primary {  
    padding:8px 25px;
    font-size: 20px;
}
.hero__container{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap:10px;

}
.video__footage__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:50px;
}
.video__footage::before{
    position: absolute;
    width:100%;
}

}
@media (min-width:1020px){
    .container{
        max-width: 1000px;
    }
        
}
@media (min-width:1400px){
    .container{
        max-width:1250px;
    }
    .navbar{
        justify-content: space-between;
        padding:0px 30px;
    }
    .hero__container{
        padding:0 60px;
    }
    .hero__text{
        font-size: 45px;
        
    }
    .button__primary{
        padding:15px 30px;
    }
    .video__footage__container{
        flex-direction: column;
        gap:18px;

    }
    
    p{
        display: block;
        font-size: 20px;
        margin-left: 15em;
        margin-right: 12em;
    }

}

